@import url("https://fonts.google.com/specimen/Roboto");

:root {
  --Tomato: hsl(4, 100%, 67%);
  --Tomato-light: hsla(4, 100%, 67%, 0.171);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--Dark-Slate-Grey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.cont {
  background-color: var(--White);
  border-radius: 30px;
  padding: 20px;
  display: flex;
  max-width: 800px;
  max-height: 600px;
}

.img img {
  height: 480px;
}

#mobile {
  display: none;
}

p, .succCont p {
  padding: 10px;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  color: var(--Dark-Slate-Grey);
  padding: 10px 10px 0;
}

.body-cont {
  padding: 50px 30px;
}

#email {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 6px;
  margin-top: 10px;
  padding-right: 28px;
}

#valid {
  color: var(--Tomato);
  visibility: hidden;
}

input, button {
  width: 90%;
  margin-left: 10px;
  padding: 15px;
  border-radius: 5px;
}

input {
  border: 1px solid var(--Grey);
}

.notValid {
  border: 1px solid var(--Tomato);
  background-color: var(--Tomato-light);
  color: var(--Tomato);
}

input:focus {
  outline: none;
}

button {
  margin-top: 10px;
  border: none;
  background-color: var(--Charcoal-Grey);
  color: var(--White);
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: var(--Tomato);
  box-shadow: 0 10px 10px hsla(4, 100%, 67%, 0.503);
}

.body-cont img {
  margin-right: 15px;
  max-width: 17px;
}

.succCont {
  display: none;
  padding: 20px;
  max-width: 350px;
  background-color: var(--White);
  border-radius: 30px;
  flex-direction: column;
}

.succCont img {
  padding: 10px;
  width: 70px;
}

#userMail {
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 550px) {
  #desk {
    display: none;
  }
  #mobile {
    display: block;
    width: 100vw;
    margin-top: -90px;
  }
  p {
    font-size: 18px;
  }
  .points {
    display: flex;
    align-items: start;
  }
  h1 {
    font-size: 3rem;
    margin-top: 0;
  }
  body {
    background-color: var(--White);
    display: block;
  }
  .cont {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    padding: 0;
  }
  .body-cont {
    padding: 20px;
    margin-top: -50px;
  }
  .attribution {
    display: none;
  }
  .succCont {
    max-width: 100vw;
    height: 100vh;
    justify-content: space-between;
    line-height: 1.3;
  }
  .succCont p, .succCont span {
    font-size: 20px;
    line-height: 1.5;
  }
  .succCont div {
    margin-top: 12rem;
  }
  #dismiss {
    width: 100%;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
  }
}